In [ ]:
# 구글드라이브 업로드
from google.colab import drive
drive.mount('/content/dirve')

Mounted at /content/dirve

In [3]:
import pandas as pd

df = pd.read_csv('/content/dirve/MyDrive/covid_seoul.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   CORONA19_ID CORONA19_DATE  ...       CORONA19_IDATE       CORONA19_MDATE
0        97655    2021-09-26  ...  2021-09-27 10:50:46  2021-09-27 10:50:46
1        97654    2021-09-26  ...  2021-09-27 10:50:46  2021-09-27 10:50:46
2        97653    2021-09-26  ...  2021-09-27 10:50:46  2021-09-27 10:50:46
3        97652    2021-09-26  ...  2021-09-27 10:50:46  2021-09-27 10:50:46
4        97651    2021-09-26  ...  2021-09-27 10:50:46  2021-09-27 10:50:46

[5 rows x 13 columns]

In [4]:
# 파일 업로드

from google.colab import files
import io

In [5]:
file = files.upload()

Saving covid_seoul.csv to covid_seoul.csv

In [6]:
df2 = pd.read_csv(io.BytesIO(file['covid_seoul.csv']))
df2

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       CORONA19_ID CORONA19_DATE  ...       CORONA19_IDATE       CORONA19_MDATE
0            97655    2021-09-26  ...  2021-09-27 10:50:46  2021-09-27 10:50:46
1            97654    2021-09-26  ...  2021-09-27 10:50:46  2021-09-27 10:50:46
2            97653    2021-09-26  ...  2021-09-27 10:50:46  2021-09-27 10:50:46
3            97652    2021-09-26  ...  2021-09-27 10:50:46  2021-09-27 10:50:46
4            97651    2021-09-26  ...  2021-09-27 10:50:46  2021-09-27 10:50:46
...            ...           ...  ...                  ...                  ...
97650            5    2020-01-31  ...  2021-05-27 11:08:12  2021-05-27 11:08:12
97651            4    2020-01-30  ...  2021-05-27 11:08:12  2021-05-27 11:08:12
97652            3    2020-01-30  ...  2021-05-27 11:08:12  2021-05-27 11:08:12
97653            2    2020-01-30  ...  2021-05-27 11:08:12  2021-05-27 11:08:12
97654            1    2020-01-24  ...  2021-05-27 11:08:12  2021-05-27 11:08:12

[97655 rows x 13 columns]