# 연속형 데이터 (Sequential Data Types)

**Q. 숫자 100개를 한번에 다루려고 한다. <=> 하나의 변수에 숫자 100개를 저장하고 싶다. 어떻게 해야할까?**

*A. 연속형 데이터 타입을 사용하자!*

* 연속형 데이터란, 하나의 변수가 하나의 데이터를 가지고 있던 숫자형 데이터와 달리, 여러개의 데이터를 하나의 변수에 가지고 있는 데이터 타입이다.


* 연속형 데이터 타입에는 list, tuple, set, dict(dictionary), str(string)이 있다. (문자열을 문자들의 나열로 인식하기 때문에, 연속형 데이터이다.)


* 연속형 데이터의 크기 제한은 없다. 하지만, 사용하는 컴퓨터의 가용 메모리 용량을 인지하며 사용해야 한다.


* 각 연속형 데이터 타입마다 특징이 다르다. 그 특징을 파악하여 용도에 맞는 데이터 타입을 사용하는 것이 중요하다.

# 1. 리스트(list)


* 가장 많이 사용되는 연속형 데이터 타입이자, 굉장히 유연한 구조를 가지고 있어 대부분의 데이터를 편하게 다룰 수 있다.


* 파이썬에서 <kbd>[</kbd> 와 <kbd>]</kbd>를 이용하여 표현한다. a = [1, 2, 3]


* 리스트의 원소는 쉼표로 구분되며, 리스트의 원소(요소, 값..)는 아무 데이터 타입이나 가능하다. 리스트조차 가능하다.


* 리스트를 이용하면 파이썬에서 다루는 대부분의 데이터는 아무 무리없이 다룰 수 있다. 하지만 수정이 자유롭기 때문에 수정을 하면 안되는 경우에는 사용하면 안된다.

## 1.1 리스트를 만드는 방법

In [8]:
list_a = [10, 20, 30, 40, 50]
list_a

# 빈 리스트
# 1.
list_b = []
list_b
type(list_b)

# 2.
list_c = list()
list_c

[]

In [15]:
# 리스트에는 다양한 타비의 원소를 포함할 수 있다.
list_d = [1, 2, 'hello', 3.14, [10, 20, 30]]
list_d

list_e = [[1, 2],
        [3, 4]]
list_e

[[1, 2], [3, 4]]

### 1.1.1  Indexing (**)

- 연속형 데이터들은 하나의 변수에 여러가지 데이터를 가지기 때문에 여러 데이터를 접근하는 방법이 필요하다.


- 이를 위해 indexing이라는 기법이 있다. 말그대로 index를 통해 접근(access)하는 방법이다.


- 리스트의 index는 맨 앞부터 0으로 시작하며, 1씩 증가하는 정수 index를 사용한다.


- list_a = [ 10, 20, 30, 40, 50 ] 이면 첫번째 원소는 index가 0이고, 두번째 원소는 index가 1이다.

 
- 파이썬에서는 음수 index도 제공하는데, 이는 뒤쪽부터 접근할 수 있는 방법이다. 


- 뒤에서 첫번째(맨 마지막)원소는 index가 -1이고, 뒤에서 두번째 원소는 index가 -2이다.


- index를 통해 접근하는 방법은 해당 변수이름에 []를 사용하며, []안에 index를 넣어서 접근할 수 있다.


| 10 | 20 | 30 | 40 | 50 | 
| ---- | ---- | ---- | ---- | ---- |
|  [0] |  [1] |  [2] |  [3] |  [4] | 
|  [-5] |  [-4] |  [-3] |  [-2] |  [-1] |

In [95]:
list_a = [10, 20 ,30, 40, 50]
list_a

# 첫번째 원소 인덱싱
print(list_a[0])

# 다섯번째 원소 인덱싱
print(list_a[4])
print(list_a[-1])

# 리스트의 마지막 원소
print(list_a[-1])
print(list_a[len(list_a)-1])

10
50
50
50
50

In [41]:
list_a[0] + list_a[2]

40

In [43]:
list_b = [1, 2, [3, 4], 5, [6, 7, 8]]
list_b

# 3
list_b[2][0]

# 8
list_b[4][2]

8

### 1.1.2 Slicing (**)

**슬라이싱은 리스트에서 뿐만 아니라, 리스트와 비슷한 구조인 numpy array와 pandas series, dataframe에서도 많이 이용되니 꼭 알아두어야 한다.**

- 슬라이싱은 리스트의 일부분만 잘라낸다는 의미이다. (말그대로 슬라이싱)


- 리스트의 일부만 사용하고 싶을 때 쓰는 기법이며, indexing을 범위로 하는 느낌이다.


- 리스트의 index와 <kbd>:</kbd>를 사용하여 슬라이싱을 할 수 있다.


- 리스트[시작인덱스 : 끝인덱스+1 : 증가값)


- list_a = [10, 20, 30, 40]일때list_a[0:2:1]는 [10, 20]이다.

In [68]:
lsit_a = [10, 20, 30, 40, 50]
list_a

print(list_a[0 : 2 : 1])
print(list_a[0 : 2])
print(list_a[ : 2])

[10, 20]
[10, 20]
[10, 20]

In [67]:
print(list_a[:len(list_a):1])
print(list_a[2:len(list_a)])
print(list_a[2:])

[10, 20, 30, 40, 50]
[30, 40, 50]
[30, 40, 50]

In [76]:
list_b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list_b)

print(list_b[0:len(list_b):2])
print(list_b[::2])
print(list_b[1::2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

## 1.2 리스트 연산하기

> 문자열때와 마찬가지로, 리스트도 더하기, 곱하기 연산이 존재한다. 어떤 의미일지 생각해보자.

### 1.2.1 리스트 더하기  -> 연결

In [79]:
list_a = [10, 20, 30]
list_b = [40, 50, 60]
print(list_a + list_b)

[10, 20, 30, 40, 50, 60]

- 리스트명.extend(추가할 리스트)

In [81]:
list_a = [10, 20, 30]
print(list_a)

list_a.extend([60, 70])
print(list_a)

[10, 20, 30]
[10, 20, 30, 60, 70]

### 1.2.2 리스트 곱하기 -> 반복

In [82]:
list_a*3

[10, 20, 30, 60, 70, 10, 20, 30, 60, 70, 10, 20, 30, 60, 70]

### 1.2.3 리스트 수정하기

In [85]:
list_a [0] = 1000
list_a

[1000, 20, 30, 40, 50]

## 1.3 리스트 관련 함수

### 1.3.1 리스트에 원소 추가하기 : 
- 리스트명.append(값)
- 리스트명.insert(인덱스, 값)

In [90]:
a = []
a.append(10)
a.append(20)
a.append(30)
a.append(40)
a.append(50)
a

[10, 20, 30, 40, 50]

In [93]:
# 출력할때마다 100이 생기는 오류발생
a.insert(3, 100)
a

[10, 20, 30, 100, 40, 50]

In [ ]:
# 오류를 해결
a = [10, 20, 30, 40, 50]
a.insert(3, 100)
a

### 1.3.2 리스트에 원소 삭제하기 

- 리스트명.remove(값)
- del(리스트명[인덱스])
- 리스트명.pop(인덱스), 리스트명.pop()
- 리스트.clear() : 모두 제거

In [123]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90]

a.remove(40)
print(a)

del(a[0])
print(a)

a.pop(2)
print(a)

a.pop()
print(a)

a.clear()
print(a)

[10, 20, 30, 50, 60, 70, 80, 90]
[20, 30, 50, 60, 70, 80, 90]
[20, 30, 60, 70, 80, 90]
[20, 30, 60, 70, 80]
[]

### 1.3.3 리스트 원소 정렬하기 : 리스트명.sort()

In [165]:
a = [10, 40, 50, 20, 90, 70]
print(a)

# 오름차순
a.sort()
print(a)

# 내림차순
a = [10, 40, 50, 20, 90, 70]
a.sort(reverse = True)
print(a)

[10, 40, 50, 20, 90, 70]
[10, 20, 40, 50, 70, 90]
[90, 70, 50, 40, 20, 10]

In [190]:
# 5개의 숫자를 입력받아서 오름차순으로 정렬하기
a = []
for i in range(1, 6):
    a.append(int(input('{}번째 수 : '.format(i))))

print('입력받은 데이터 : ', a)
a.sort()
print('정렬결과 : ', a)

1번째 수 : 2
2번째 수 : 6
3번째 수 : 5
4번째 수 : 9
5번째 수 : 1
입력받은 데이터 :  [2, 6, 5, 9, 1]
정렬결과 :  [1, 2, 5, 6, 9]

In [5]:
d = [10, 30, 50, 40, 20]
d.sort()
print(d)

# 원래의 데이터를 건드리지않고 싶은 경우sorted
d = [10, 30, 50, 40, 20]
a = sorted(d)
print(a, d)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50] [10, 30, 50, 40, 20]

### 1.3.4 리스트 뒤집기(정렬 X) reverse()

In [6]:
a =[34, 4, 'hello', 42]

a.reverse()
print(a)

[42, 'hello', 4, 34]

#### 2. 튜플(Tuple)

- tuple은 list과 거의 같다.


- 거의 같은데, 다른 점이 딱 2가지 있다. 읽기 전용




**1) 리스트는 []를 사용하고, 튜플은 ()을 사용한다.**

**2) 리스트는 생성 후에 변경이 가능하고(mutable) 튜플은 생성 후에 변경이 불가능하다.(immutable)**

In [7]:
tuple_a = (1, 2, 3, 4, 5)
type(tuple_a)

tuple

In [8]:
tuple_a = 1, 2, 3, 4, 5
type(tuple_a)

tuple

In [10]:
a = (1, 'korea', 3.5, 6)
a

(1, 'korea', 3.5, 6)

In [11]:
a = (1, 'korea', 3.5, (4.5))
a

(1, 'korea', 3.5, 4.5)

In [14]:
b = (3,)
type(b)

tuple

In [15]:
tuple_a = 1, 4, 5, 10

tuple_a[-1]

10

In [16]:
tuple_a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [18]:
tuple_a.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
tuple_a.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [23]:
# 값이 변화한 것 같지만 사실은 id주소가 다른 튜플이다.
tuple_a = ('a', 'b')
print(tuple_a, id(tuple_a))

tuple_a = ('A', 'B')
print(tuple_a, id(tuple_a))

('a', 'b') 1622812740608
('A', 'B') 1622812844480

In [27]:
a, b, c = 100, 200, 'hello'
print(a, b, c)

100 200 hello

In [26]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'str'>