In [21]:
list = [1, 2, 3, 4, 5]

dlist = list

dlist.append(6)
print(dlist)

dlist.pop()
print(dlist)

dlist.insert(4, 'a')
print(dlist)

dlist.remove(3)
print(dlist)

del dlist[4]
print(dlist)

dlist.extend([10, 11, 12])
print(dlist)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 'a', 5]
[1, 2, 4, 'a', 5]
[1, 2, 4, 'a']
[1, 2, 4, 'a', 10, 11, 12]

In [35]:
import queue

q = queue.Queue()

q.put(1)
q.put(2)
q.put(3)
print(q.queue)
q.get()
a = q.get()
print(a)

deque([1, 2, 3])
2

In [38]:
from queue import Queue
q = Queue()
print(q)

<queue.Queue object at 0x00000216C5BC4E20>

In [43]:
from collections import deque
dq = deque()
dq.append(1)
dq.appendleft(3)
dq.pop()
# dq.popleft()
print(dq)

deque([3])

In [49]:
import collections

dq = collections.deque()
dq.append(5)
dq.extend([1, 4, 10])

print(dq)

deque([5, 1, 4, 10])

In [5]:
t1 = tuple()
t1 = (1, 2, 3)
print(type(t1))
# t1[2] = 'A'
# t1.append(3)

t1 = list(t1)
t1.append(3)
print(t1)

t1 = tuple(t1)
print(t1)

<class 'tuple'>
[1, 2, 3, 3]
(1, 2, 3, 3)

In [27]:
s1 = set([1, 2, 3, 4, 5, 8, 9, 7])

s1.add(1)
s1.add(4)
s1.remove(1)
s1.update([1, 3, 5, 6,])
print(s1)
s1.clear()
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
set()

In [38]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])

key1 = s1.union(s2)
print(key1)

key2 = s1.intersection(s2)
print(key2)

key3 = s1.difference(s2)
print(key3)

print(key1 | key2)
print(key1 & key2)
print(key1 - key2)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2, 6, 7}

In [39]:
a = {'012' : 'Jang', '013' : 'Kim', '014' : 'Choi', '015' : 'Min'}

print(a)
print(a['014'])

a['016'] = 'Park'
print(a)

print(a.keys())
print(a.values())
print(a.items())


for i, v in a.items():
    print('key : ', i)
    print('value : ', v)
    
print('Min' in a.values())
print('017' in a.keys())

{'012': 'Jang', '013': 'Kim', '014': 'Choi', '015': 'Min'}
Choi
{'012': 'Jang', '013': 'Kim', '014': 'Choi', '015': 'Min', '016': 'Park'}
dict_keys(['012', '013', '014', '015', '016'])
dict_values(['Jang', 'Kim', 'Choi', 'Min', 'Park'])
dict_items([('012', 'Jang'), ('013', 'Kim'), ('014', 'Choi'), ('015', 'Min'), ('016', 'Park')])
key :  012
value :  Jang
key :  013
value :  Kim
key :  014
value :  Choi
key :  015
value :  Min
key :  016
value :  Park
True
False

In [78]:
b = {'one' : (1, 2, 3), 'two' : [1, 2, 3, 4], 'three' : {'01' : 'kim', '02' : 'park'}}

dlist = b['two'][1]
print(dlist)
name = b['three']['01']
print(name)
b['two'][2] = 300
print(b)

b['three']['01'] = 'Hong'
print(b)

a = list(b['one'])
print(type(a))
a[2] = 300
b['one'] = tuple(a)
print(b)

2
kim
{'one': (1, 2, 3), 'two': [1, 2, 300, 4], 'three': {'01': 'kim', '02': 'park'}}
{'one': (1, 2, 3), 'two': [1, 2, 300, 4], 'three': {'01': 'Hong', '02': 'park'}}
<class 'list'>
{'one': (1, 2, 300), 'two': [1, 2, 300, 4], 'three': {'01': 'Hong', '02': 'park'}}