### 1. 다음 리스트에서 40, 50을 삭제하는 코드를 입력하세요

In [7]:
nums = [10,20,30,40,50]
nums.pop(4)
nums.remove(40)
nums

[10, 20, 30]

### 2. \<pass> 부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요

In [8]:
list_a = [200, 100, 300]
list_a.insert(2, 1000)
print(list_a)

# 출력결과 [200, 100, 10000, 300]

[200, 100, 1000, 300]

### 3. 몇 번째 행성인가요?
- 우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개입니다. 
- 입력으로 행성의 순서를 나타는 숫자 n이 입력되면 해당하는 행성을 출력합니다. 예) 입력 1 -> 수성

In [130]:
a = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']


n = int(input())-1
print(a[n])

1
수성

### 4. 행성의 한글이름을 입력하면 영어 이름으로 반환하는 프로그램을 만드시오.
- 영어이름 : Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune 예) 지구 -> Earth

In [50]:
a = {'수성':'Mercury', '금성':'Venus', '지구':'Earth', '화성':'Mars', '목성':'Jupiter', '토성':'Saturn', '천왕성':'Uranus',
     '해왕성':'Neptune'}
b = input()

a[b]

지구

'Earth'

### 5. 문장이 입력되면 거꾸로 출력하는 프로그램을 만드시오. 예) 거꾸로 -> 로꾸거

In [132]:
a = input()
for i in range(-1, -(len(a)+1), -1):
    print(a[i], end='')

거꾸로
로꾸거

### 6. 입력으로 문자열이 주어지면 2-gram으로 출력하는 프로그램을 작성하시오.
- 2-gram이란 문자열에서 2개의 연속된 요소를 출력하는 방법
- 예 'Python' 입력하면
- Py
- yt
- th
- ho
- on

In [146]:
a = input()
for i in range(len(a)-1):
    print(a[i], a[i+1],sep='')

python
py
yt
th
ho
on

### 7. sort 구현하기
- 승찬이는 체육부장으로 체육시간이 되면 반 친구들이 제대로 키 순서대로 모였는지를 확인해야 한다.
- 그런데 승찬이는 그것이 너무 번거롭게 느껴져 한번에 확인하고 싶어한다.
- 승찬이를 위해 키가 주어지면 순서대로 제대로 섰는지 확인하는 프로그램을 작성하시오
- 입력 : 173 156 165 166 169
- 출력 : NO

In [45]:
a = input().split()
b = a.sort()

if a == b:
    print('yes')
else:
    print('NO')

173 156 165 166 169
NO

### 8. 문장이 입력되면 모든 q를 e로 바꾸는 프로그램을 작성하시오.
- 혜원이는 문서를 작성하면서 모든 문장의 e를 q로 잘못 입력한 것을 발견했다. 파이썬으로 재빠르게 q를 e로 바꾸는 프로그램을 작성하려고 한다.
- 입력 : querty    / 출력 : euerty
- 입력 : La viq qn rosq / 출력 : La vie en rose

In [152]:
a = input()
print(a.replace('q', 'e'))

querty
euerty

### 9. 숫자가 주어지면 소수인지 아닌지 판별하는 프로그램을 작성하시오.
- 소수 : 1과 자기자신으로만 나누어 떨어지는 1보다 큰 양의 정수
- 입력 : 11 / 출력 : YES
- 입력 : 6 / 출력 : No

In [110]:
a = int(input())
if (a / a == 1) and not (a%2==0):
    print('yes')
else:
    print('no')

6
no

In [155]:
def a(num):
    for i in range(2, num):
        if num%i == 0: return 'no'
        return 'yes'

num = int(input())
print(a(num))

6
no

### 10. 10진수가 입력되면 2진수로 출력하도록 프로그래밍 하시오
- 입력 : 13 / 출력 1101

In [160]:
a = int(input())
bin(a)[2::]

13

'1101'

### 11. 숫자, n진법을 입력 받아서 10진수로 변환하기
- 입력 : 10 5 / 출력 : 5

In [121]:
a = input().split(',')
b = int(a[0], base=int(a[1]))
b

10, 5

5

### 12. str 자료형의 응용
- 1~100까지의(100포함) 모든 숫자를 일렬로 놓고 모든 자릿수의 총 합을 구하시오
- 예) 10~15 사이의 모든 숫자를 일렬로 놓으면 101112131415이고 각 자리의 숫자를 더하면 25이다.

In [49]:
num = ''

for i in range(101):
    num += str(i)
    
result = 0
for i in num:
    result += int(i)

print(num)
print(result)

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100
901

### 13. 아래 요구사항에 맞는 프로그램을 작성하시오.
- 새학기 되어 이름을 가나다 순서대로 배정하고 번호를 매기려고 한다. 
- 코드에 입력된 이름을  아래와 같이 출력하시오.

In [185]:
students = ['강은지', '김유정','박현서', '최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']

for i in range(len(students)):
    print('번호 : {}, 이름 : {}'.format(i+1, students[i]))

번호 : 1, 이름 : 강은지
번호 : 2, 이름 : 김유정
번호 : 3, 이름 : 박현서
번호 : 4, 이름 : 최성훈
번호 : 5, 이름 : 홍유진
번호 : 6, 이름 : 박지호
번호 : 7, 이름 : 권윤일
번호 : 8, 이름 : 김채리
번호 : 9, 이름 : 한지호
번호 : 10, 이름 : 김진이
번호 : 11, 이름 : 김민호
번호 : 12, 이름 : 강채연

### 14. 문자열을 입력받고 연속되는 문자열을 압축해서 표현하는 프로그램을 작성하시오
- 입력 : aaabbbbcdddd
- 출력 : a3b4c1d4

In [50]:
a = input()
b = a[0]
num = 0
s = ''

for i in a:
    if i == b: num+=1
    else:
        s += b + str(num)
        b = i
        num = 1

s += b + str(num)
print(s)

aaaabbbccdd
a4b3c2d2

In [53]:
# 알파벳순서를 순서대로 정렬하고 싶을 때
user_input = input()
wordDict = {}

for word in user_input:
    wordDict[word] = wordDict.get(word, 0)+1
    
print(wordDict)
sortWord = sorted(wordDict.keys())
#print(sortWord)

for i in sortWord:
    print(i, wordDict[i], sep='', end='')

aowkjfsa
{'a': 2, 'o': 1, 'w': 1, 'k': 1, 'j': 1, 'f': 1, 's': 1}
a2f1j1k1o1s1w1

### 15. 아래 질문에 알맞은 프로그램을 작성하시오.
- 아빠는 딸과 친과 친해지기 위해 줄임말을 배우기로 했습니다. 
- 딸은 '복잡한 세상 편하게 살자'라는 문장을 '복세편살'로 줄여 말합니다.
- 아빠가 줄임말을 배우기 위해 아래와 같이 어떤 입력이 주어지면 앞 글자만 줄어 출력되도록 프로그래밍 하시오.

In [187]:
a = input().split(' ')
b = ''

for i in a:
    b += i[0]

print(b)

복잡한 세상 편하게 살자
복세편살

### 중간 공백 없애기

In [62]:
a =input()

# join
b = ''.join(a.strip().split())
print(b)

# replace
c = a.replace(' ', '')
print(c)

hello world
helloworld
helloworld